body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #cccccc, #000000);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 500px;
    padding: 40px;
    background: linear-gradient(0deg, rgba(30, 42, 94, 1) 0%, rgba(203, 220, 235, 1) 100%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: rgb(30, 42, 94);
    color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #55679C;
    transform: scale(1.05);
}

.message {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
    font-size: 18px;
    font-weight: 300;
    animation: fadeIn 1s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.show {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}